<div class="page-header">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: "form-control"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
    <% if @minimum_password_length %>
      <p class="help-block"><%= @minimum_password_length %> characters minimum <i>(leave blank if you don't wish to change it)</i></p>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>
    <p class="help-block"><i>(enter your current password to confirm your changes)</i></p>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>

<hr />

<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></p>

<hr />
<% if current_user.admin %>
  <p><%= link_to "Edit Store Information", edit_store_path(current_user.store), class: "btn btn-default" %></p>
<% else %>
  <p><%= link_to "Administer a Store with this account", new_store_path, class: "btn btn-default" %></p>
<% end %><br /><br />
