<h1>Custom Transaction</h1>

<%= form_for([current_user, @account, @account.points_transactions.create]) do |f| %>

  <div class="form-group">
    <%= f.label :value %><br />
    <%= f.text_field :value, class: "form-control" %>
  </div>

  <div class="form-group">
    <label class="radio-inline">
      <%= f.radio_button(:trans_type, 'debit') %>
      Debit
    </label>
    <label class="radio-inline">
      <%= f.radio_button(:trans_type, 'credit') %>
      Credit
    </label>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>

<% end %>
